
body{
    font-family: 'Cabin', sans-serif;
}
.container{
    width: 1296px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 32px;
}

.main-header{
    width: 100%;
    position: fixed;
    z-index: 1;
}
.backgroundColor{
    background-color: #10BBD5;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-top: 16px; 
    padding-bottom: 16px;
}

.bookLabel_logo{
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url(/images/book_label.png);
}

.sitesName{
    display: inline-block;
    padding: 5.5px 0 5.5px 4px;
    color: #F8FDFE;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
    padding: 0;
}

.shopping-сart{
    position: relative;
    background-color: #10BBD5;
    border: none;
    padding: 0;
}

.shopping-сart::before{
    position: absolute;
    display: inline-block;
    color: #F8FDFE;
    content: '0,00 €';
    top: 50%; 
    left: -120%; 
    transform: translateY(-50%);
}

.user-links{
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
}

.user-actions{
    display: flex;
    gap: 40px;
}
.main-backgroundColor{
    background-color: #8e8e8e1d;  
    padding-top: 110px;
}

.bestsellers-description{
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    padding-bottom: 23px;
    border-bottom: solid 1px #A8A8A8;
}

.listigns__cards{
    padding-top: 24px;
}

.books-card_config{
    border: solid 1px  #A8A8A8;
    background-color: #F8FDFE;
}

.books-cover_config{
    margin: 32px 64px 0 64px;
    position: relative;
}

.books-name_config{
    margin: 0;
    padding: 16px 32px 0 32px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    border-bottom: solid 1px #A8A8A8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.books-author_config{
    padding: 1px 32px 0 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #8E8E8E;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.books-price__config{
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    padding: 8px 32px 0 32px;
    color: #E90000;
}

.books-price-nocount__config{
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #8E8E8E;
}



.btn-to-add_config{
    margin-top: 16px;
    margin-bottom: 32px;
    padding: 8px 0;
    border-radius: 4px;
    background: #4C394E;
    width: 100%;
    font-size: 100;
    line-height: 24px;
    color:  #F8FDFE;
}

.btn-to-end_config{
    margin-top: 16px;
    margin-bottom: 32px;
    padding: 8px 0;
    border-radius: 4px;
    background: #4D762D;
    width: 100%;
    font-size: 100;
    line-height: 24px;
    color:  #F8FDFE;
}

.books4-card{
    position: relative;
}

.books4-card::after{
    position: absolute;
    content: url(/images/Chat.png);
    right: 0;
    bottom: 0;
    transform: translateX(50%) translateY(50%);
}

.books1-cover::before{
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    content: "Hit";
    color: #F8FDFE;
    padding: 4px 8px;
    background: #4200FF;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
}

.books2-cover::before{
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    content: "New";
    color: #F8FDFE;
    padding: 4px 8px;
    background: #AF39E7;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
}

.books3-cover::before{
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    content: "Hit";
    color: #F8FDFE;
    padding: 4px 8px;
    background: #4200FF;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
}
.books3-cover::after{
    position: absolute;
    left: 5px;
    content: "10% off";
    color: #F8FDFE;
    padding: 4px 8px;
    background: #EA33C0;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
}

.books5-cover::before{
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    content: "New";
    color: #F8FDFE;
    padding: 4px 8px;
    background: #AF39E7;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
}
.books5-cover::after{
    position: absolute;
    left: 5px;
    content: "16% off";
    color: #F8FDFE;
    padding: 4px 8px;
    background: #EA33C0;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
}

.books6-cover::before{
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    content: "Hit";
    color: #F8FDFE;
    padding: 4px 8px;
    background: #4200FF;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
}
.books6-cover::after{
    position: absolute;
    left: 5px;
    content: "16% off";
    color: #F8FDFE;
    padding: 4px 8px;
    background: #EA33C0;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
}

.books7-cover::before{
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    content: "New";
    color: #F8FDFE;
    padding: 4px 8px;
    background: #AF39E7;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
}
.books7-cover::after{
    position: absolute;
    left: 5px;
    content: "11% off";
    color: #F8FDFE;
    padding: 4px 8px;
    background: #EA33C0;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
}

.books10-cover::before{
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    content: "20% off";
    color: #F8FDFE;
    padding: 4px 8px;
    background: #EA33C0;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
}

.books11-cover::before{
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    content: "New";
    color: #F8FDFE;
    padding: 4px 8px;
    background: #AF39E7;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
}
.books11-cover::after{
    position: absolute;
    left: 5px;
    content: "30% off";
    color: #F8FDFE;
    padding: 4px 8px;
    background: #EA33C0;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
}

footer{
    margin-top: 120px;
    width: 100%;
    background-color:  #4C394E;
}

.site-footer{
    display: flex;
    justify-content: space-between;
} 

.site-footer p{
    color: #F8FDFE;
    padding: 32px 0;
} 