.container{
    width: 1296px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 30px;
}

.name_site{
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    letter-spacing: 0.02em;
}
.header_block{
    display: flex;
    justify-content: space-between;
}
.left-wrapper{
    display: flex;
    gap: 44px ;
}
.drdwn_list{
    background: rgba(15, 130, 119, 1);
    font-weight: 700;
    line-height: 19.2px;
    color: rgba(238, 238, 238, 1);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.search{
    border: 1px solid rgba(92, 92, 92, 1);
    border-radius: 4px;
    font-weight: 500;
    line-height: 19.2px;
    color: rgba(92, 92, 92, 1);
    cursor: pointer;
}
.search_text{
    display: inline-block;
    padding: 8.5px 12px;
}

.search_icon{
    background: rgba(15, 130, 119, 1);
    border: 1px solid rgba(92, 92, 92, 1);
    height: 100%;
    cursor: pointer;
}

.right-wrapper{
    display:flex;
    align-items: center;
}

.courses{
    font-weight: 500;
    line-height: 19.2px;
    margin-right: 48px;
}

.training{
    font-weight: 500;
    line-height: 19.2px;
    margin-right: 104px;
}

.log-in{
    height: 100%;
    border: none;
    background-color: #fff;
    font-weight: 700;
    line-height: 19.2px;
    color: rgba(15, 130, 119, 1);
    margin-right: 16px;
    padding: 10px 12px;
    cursor: pointer;
}

.sign-up{
    height: 100%;
    border: none;
    border-radius: 4px;
    background-color:  rgba(15, 130, 119, 1);
    font-weight: 700;
    line-height: 19.2px;
    color: rgba(238, 238, 238, 1);
    padding: 10px 12px;
    cursor: pointer;
}

.learn-info{
    display: flex;
    margin-top: 31px;
    background: rgba(219, 243, 237, 1);
}

.learn-info_text{
    display: inline-block;
    padding: 170px 94px 184px 110px;
}

.learn-info_text_title{
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    margin: 0;
}

.learn-info_text_subtitle{
    font-size: 22px;
    font-weight: 600;
    line-height: 26.4px;
    margin: 32px 0;
}

.learn_info_img{
    display: inline-block;
    margin: 39px 54px 30px 0;
}

.start-learn, .business-solution__btn-contact{
    border: none;
    border-radius: 4px;
    padding: 10px 12px;
    background: rgba(15, 130, 119, 1);
    color: rgba(238, 238, 238, 1);
    font-weight: 700;
    line-height: 19.2px;
    cursor: pointer;
}

.learn-more{
    margin-left: 24px;
    border: solid 2px rgba(15, 130, 119, 1);
    border-radius: 4px;
    padding: 10px 12px;
    color: rgba(15, 130, 119, 1);
    background: rgba(238, 238, 238, 1);
    font-weight: 700;
    line-height: 19.2px;
    cursor: pointer;
}

.programms-study{
    margin-top: 80px;
}
.academic-training, .academic-courses{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: rgba(15, 130, 119, 1);
}

.programm-selection, .programm-popular, .featured-topics-title, .collaboration-text, .business-solution__title, .plan-study__title, .students-photo__title{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-top: 12px;
}

.academic-opportunity{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    margin-top: 12px;
}
.programms-study_cards{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 24px;
}

.content-wrapper{
    padding: 24px 16px;
}


.university-name{
    display: inline-block;
    vertical-align: top;
    font-weight: 500;
    line-height: 19.2px;
    margin-left: 10px;
}

.university-title, .courses-description{
    margin-top: 16px;
    height: 2em;
}

.get-a-diploma, .get-a-course{
    margin-top: 50px;
    cursor: pointer;
}

.content-wrapper{
    display: flex;
    flex-direction: column;
}


.get-a-diploma_text, .get-a-course{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    color: rgba(15, 130, 119, 1);
    margin-left: 12px;
    vertical-align: top;
}


.programms-courses{
    margin-top: 80px;
}

.courses-study_cards{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 24px;
}

.more_courses, .more_topics{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: rgba(15, 130, 119, 1);
    margin-top: 43px;
}

.more_courses svg, .more_topics svg{
    margin-left: 20px;
}
.featured-topics{
    margin-top: 80px;
}
.featured-topics-category{
    margin-top: 40px;
}
.featured-topics-category h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
}


.featured-topics-category h4{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: rgba(15, 130, 119, 1);
}
.featured-topics-category p{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
}

.featured-topics-category li{
    margin-top: 32px;
}

.featured-topics-category{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 24px;
}

.partners-bgr, .plan-study-bgr{
    margin-top: 80px;
    padding: 80px 0;
    background: rgba(219, 243, 237, 1);
}

.partners{
    text-align: center;
}

.collaboration-text{
    margin: 0 16%;
    text-align: center;
}

.partners-logos{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.business-solution{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.business-solution__description{
    width: 50%;
    margin: 67.5px 0;
    padding-right: 68px;
}

.business-solution__text{
    margin: 32px 0;
}

.business-solution__partners{
    margin-left: 72px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
}

.business-solution__partners-lbl{
    padding:  23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border--rb{
    border-bottom:solid 1px  #BABABA;
    border-right:solid 1px  #BABABA;
}

.border--b{
    border-bottom:solid 1px  #BABABA;
}

.border--r{
    border-right:solid 1px  #BABABA;    
}

.plan-study__cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
    margin-top: 40px;
    justify-content: space-between;
}

.plan-study__title{
    text-align: center;
}

.cards--placement{
    border-radius: 24px;
    border: 1px solid #0F8277;
    padding: 56px;
    flex-grow: 1;
}
.plan-study__cards-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: center;
}

.plan-study__cards-subtitle{
    font-weight: 500;
    line-height: 19.2px;
    margin-top: 27px;
    text-align: center;
}

.plan-study__cards-price{
    font-size: 40px;
    margin-top: 27px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}

.plan-study__cards-pricePeriod{
    vertical-align: middle;
    font-weight: 500;
    line-height: 19.2px;
    margin-left: 14px;
}

.plan-study__cards-btn{
    display: flex;
    justify-content: center;
}
.plan-study__cards-accept{
    font-size: 18px;
    font-weight: 500;
    line-height: 21.87px;
    color: #F6FDFF;
    padding: 10px 12px;
    background-color: #0F8277;
    border-radius: 4px;
    border: solid #0F8277;
}

.plan-content{
    border-top: solid 2px #0F8277;
    margin-top: 48px;
    padding-top: 48px;
}

.plan-content li{
    margin-bottom: 16px;
}

.plan-study__cards-descr{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55%;
}

.plan-study__cards-descr:nth-child(1){
    row-gap: 27px;
}

.plan-study__cards-month{
    background: #0F8277;
    color: #FFFFFF;
}


.students-photo{
    margin-top: 80px;
    display: grid;
    grid-template-columns:  1fr, 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
    grid-template-areas:"students-photo__item1 students-photo__item2 students-photo__item2 students-photo__item3" 
                        "students-photo__item4 students-photo__item2 students-photo__item2 students-photo__item5"
                        "students-photo__item6 students-photo__item7 students-photo__item8 students-photo__item9"  
                        ;
    gap: 24px;
    max-width: 100%;
    overflow: hidden;
}
.students-photo img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.students-photo__item1 {
    grid-area: students-photo__item1;
}

.students-photo__item2 {
    grid-area: students-photo__item2;
}

.students-photo__item3 {
    grid-area: students-photo__item3;
}

.students-photo__item4 {
    grid-area: students-photo__item4;
}

.students-photo__item5 {
    grid-area: students-photo__item5;
}

.students-photo__item6 {
    grid-area: students-photo__item6;
}

.students-photo__item7 {
    grid-area: students-photo__item7;
}

.students-photo__item8 {
    grid-area: students-photo__item8;
}

.students-photo__item9 {
    grid-area: students-photo__item9;
}

.students-photo__title{
    text-align: center;
}

.connection-form {
    width: 100%;
    margin-top: 75px;
    background-image: url('/images/image-32.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.contact-form-area {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(234, 247, 245, 0.9); /* Полупрозрачный фон для читаемости текста */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

.contact-form p {
    text-align: center;
    margin-bottom: 20px;
    color: #555;
}

.contact-form label {
    margin-bottom: 5px;
    color: #333;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form button {
    padding: 10px;
    background-color: #0f8277;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0d6f63;
}

.footer{
    display: flex;
    justify-content: space-between;
}

.footer-text, .footer-icons{
    margin-top: 64px;
    width: 25%;
}

.footer-text__title{
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    letter-spacing: 0.02em;
}

.footer-text__subtitle{
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
}

.social-wrapper{
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}

.footer-icons__text{
    margin-top: 60px;
    font-weight: 500;
    line-height: 19.2px;
}