.container{
    width: 1280px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.sites-name{
    margin-top: 63px;
    font-size: 80px;
    line-height: 94px;
}

.names-part:hover{
    color: #4BCAFF;
}

.navbar-list{
    display: flex;
    margin-top: 40px;
    height: 70px;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    justify-content:center;
    background-color: #35444F;
}


.navbar-list li:hover{
    background: #222F3A;
}
.navbar-list li {
    border: 2px solid white;
    align-items: center;
    height:100%;
}

.navbar-list a{
    padding: 24px 30px 0 30px;
    display: inline-block;
    color: white;
    height: calc(100%-1px);
}

.navbar-list a:hover {
    color: white; 
}

.main-page{
    display: flex;
    margin-top: 48px;
    font-size: 27px;
    line-height: 27px;
    text-align: left;
    gap: 52px;
}
.aside-menu {
    display: flex;
    flex: 0 0 30%;
    border: 1px solid #000000;
    height: min-content;
}
.aside-menu ul{
    width: 100%;
    padding-left: 0;
}
.aside-menu li{
    color: #485863;
    font-size: 27px;
    line-height: 27px;
    padding: 26px;
    padding-left: 42px;
    white-space: nowrap;
}
.aside-menu li:hover{
    background: #DBDBDB;
    transition: 0.5s ease;
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

}


.content-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 470px;
    border: 1px solid black;
}

.content-img1:hover{
    transform: scale(1.2);
    transition: 0.5s ease;
}

.content-text{
    font-size: 18px;
    line-height: 24px;
    text-align: left;
}

.footer-menu{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    font-size: 28px;
    line-height: 28px;
    height: 70px;
    background: #63696E7A;
}

.footer-menu ul li {
    justify-content: center; 
    align-items: center;
    transition: font-size 0.3s ease;
    display: inline;
    margin-right: 20px;
}

.footer-menu li:hover{
    font-size: 28px;
    line-height: 28px;
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}





