@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Arimo-Regular.woff2') format('woff2'),
         url('/fonts/Arimo-Regular.woff') format('woff');
}
