
body {
    font-family: 'Arimo';
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
}

p{
    margin: 0;
    padding: 0;
}
table{
    border-collapse: collapse;
    width: 100%;
}

tr td{
border: 1px solid black;
padding: 0;
margin: 0;
}

.chose{
    padding-top: 51px ;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.pricing-plan{
    padding: 2px 75px 80px 75px;
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
}
.standart{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    background: #89C331;
    color: #fff;
}

.standart p{
    padding: 27px 58px 18px 60px;
}

.ultimate{
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
    background: #F04A56;
    color: #fff;

}

.ultimate p{
    padding: 23px 55px 3px 68px;

}

.premium{
    font-size: 24px;
    font-weight: 700;
    background: #20807C;
    color: #fff;

}

.premium p{
    padding: 27px 69px 18px 65px;
}

.price-cent{
    font-size: 24px;
    font-weight: 700;
}

.price-dollar{
    font-size: 60px;
    font-weight: 700;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    padding-top: 0;
}

.subscription-period{
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
}

img{
    padding: 22px 0 22px 0;
}
.vertical_align{
    display: inline-block;
    vertical-align: middle;
}

button{
    margin: 30px 0;
    padding: 18px 57px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px 0px #00000045;
}

.contact-us{
    background-color: #484848;
}

.buy-now__standard{
    background: #89C331;
}

.buy-now__ultimate{
    background: #F04A56;
}
.buy-now__premium{
    background: #20807C;
}

.storage, .storage, .products{
    background: #F2F2F2;
}

.bandwidth, .support, .users, .for-contact{
    background: #E3E3E3;
}

.second_table{
    margin-top: 100px;
}

.second_table img{
    display: inline-block;
}

.chose__table2{
    padding: 26px 30px 0 34px;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;

}

.plan__table2{
    padding: 18px 11px 30px 15px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.thirst-table{
    margin-top: 9px;
}

.thirst-table button{
    background: #414141;
}

.collumn1-colortext{
    color: #fff;
}

.row1{
    background: #89C331;
    box-shadow: 0px 0px 5px 0px #00000045;
}

.standard__t3{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    padding: 23px 16px 0 18px;
}
.price-dollar__t3{

}