.container{
    width: 1400px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: sans-serif;
}

.navbar{
    text-align: center;
    color: black;
    width: 635px;
    height:  88px;
    /* padding: 32px 0px 32px 0px; */
    margin: auto;
}

a {text-decoration: none;
    font-size: 18px;
    color: black;
    line-height: 24.3px;


}

.main_img{
    max-width: 100%;
    height: 552px; 
    background: #00BDC9;
    margin-top: 3px;
}


.links{
    text-align: center;
    font-weight: 400;
    line-height: 25px;
    padding-top: 32px;
}

.links li{
    display: inline;
    padding: 32px;
    list-style: none; 
}
h1{
    font-size: 48px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
}

.main_content{
    margin-top: 40px;
    text-align: left;
    margin: auto;
    width: 856px;
    padding: 88px 0px 88px 0px;   
}
h1{
    font-size: 48px;
    text-align: center;
}
.main_content p{
    font-size: 21px;
    font-weight: 500;
    line-height: 32px;

}


span{
    font-size: 21px;
    font-weight: 600;
    line-height: 31.5px;
    text-align: left;
    color: rgb(54, 152, 119)
}

.main_content ol{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    padding-left: 0px;
    list-style-position: inside;
}
.btn_learn_more{
    width: 145px;
    height: 44px;
    padding: 10px 24px 10px 24px;
    background-color: #04959E;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    border: none;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
.btn_learn_more:hover {
    background-color:rebeccapurple;
    border-radius: 4%;
}
footer {
    position: relative;
}

footer{
    height: 59px;
    padding: 16px 0px 16px 0px;
    justify: space-between;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    border-top: 4px solid black;
}