.container{
    width: 1280px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.top__nav{
    display: flex;
    justify-content: space-between;
}

.avion{
    font-size: 24px;
    line-height: 30px;
    text-align: left;

}
.top__nav-links{
    display: flex;
    align-items: center;
    width: 700px;
    justify-content: space-between;
    font-size: 16px;
    line-height: 22px;
}

.side__actions{
    display: flex;
    align-items: center;
    gap: 16px;
}

.search{
    display: block;
    width: 16px;
    height: 16px;
    background-image:url(/img/search.svg);
}

.shopping__cart{
    display: block;
    width: 16px;
    height: 16px;
    background-image:url(/img/shopping--cart.svg);
}

.user__avatar{
    display: block;
    width: 16px;
    height: 16px;
    background-image:url(/img/user--avatar.svg);
}

.top__menu{
    border-bottom: solid 2px rgba(128, 128, 128, 0.548);
}

.all__products{
    display: flex;
    font-size: 36px;
    line-height: 50px;
    justify-content: center;
    padding-top: 80px;
}

.headers__nav{
    display: flex;
    height: 64px;
    padding-top: 24px;
    justify-content: space-between;
    align-items: center;
}
.filters select{
    padding: 12px;
}
.sorting-text{
    display: inline;
}

select{
    border: none;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 28px;
}

.listings{
    margin-top: 24px;
}

.listings p{
    font-size: 18px;
    line-height: 27px;
    color: #2A254B;
    }

.names-padding{
    padding-top: 24px;
    margin: 0;
}

.prices-padding{
    padding-top: 8px;
    padding-bottom: 20px;
    margin: 0;
}

.button_view{
    text-align: center;
    margin: 48px 0 40px 0;
    font-size: 16px;
    line-height: 24px;
}
.view__all{
    width: 175px;
    height: 56px;
    background: #F9F9F9;
    border-radius: 15px;
    border: none;
}

.email-sign-up{
    display: flex;
    justify-content: center;
}

.email-sign-up-title{
    font-weight: normal;
    padding-left: 50px;
    padding-top: 70px;
    font-size: 32px;
    line-height: 39.01px;
    color: #2A254B;
}

.email-sign-up-text{
    width: 470px;
    padding-left: 50px;
    padding-top: 70px;
    padding-right: 130px;
    font-size: 16px;
    line-height: 24px;
}
.email-sign-up-button{
    margin-top: 216px;
    margin-left: 72px;
    margin-bottom: 70px;
    padding: 16px 32px;
    color: #FFFFFF;
    background-color: #2A254B;
}

.footer{
        background: #2A254B;
}

.footer__info{
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.sites__map{
    display: flex;
    font-size: 16px;
    color: #FFFFFF;   
}

.sites__map li{
    padding-top: 0;
    padding-bottom: 12px;

}

.menu{
    padding-left: 0;
}

.categories{
    padding-left: 100px;
    margin-top: 0;
}

.our-company{
    padding-left: 130px;
    margin-top: 0;
}

.map{
padding-left: 93px;
}

.side__actions a{
    margin-left: 24px;
}

.social-links{
    display:flex;
    border-top: solid 1px #4E4D93;
    color: white;
    justify-content: space-between;
    font-size: 14px;
    line-height: 20px;
}

.logo__linkedin{
    display: block;
    width: 16px;
    height: 16px;
    background-image:url(/img/logo--linkedin.svg);
}
.logo__facebook{
    display: block;
    width: 16px;
    height: 16px;
    background-image:url(/img/logo--facebook.svg);
}
.logo__instagram{
    display: block;
    width: 16px;
    height: 16px;
    background-image:url(/img/logo--instagram.svg);
}
.logo__skype{
    display: block;
    width: 16px;
    height: 16px;
    background-image:url(/img/logo--skype.svg);
}
.logo__twitter{
    display: block;
    width: 16px;
    height: 16px;
    background-image:url(/img/logo--twitter.svg);
}
.logo__pinterest{
    display: block;
    width: 16px;
    height: 16px;
    background-image:url(/img/logo--pinterest.svg);
}











