html{
    background-image: url(/Images/background_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    background-attachment: fixed;
}

body {
    font-family: "Ubuntu";
    font-weight: 400;
    font-style: normal;
}

.header-class{
    padding: 18px 80px;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.sites-name{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    color: #FFFFFF;
}

.sites-name:hover, .authorization span:hover{
    color: rgba(60, 184, 120, 1);
    cursor: pointer;
}

.links svg:hover path{
    fill:  rgba(60, 184, 120, 1);
    transition: fill 0.3s ease-in;
}
.calender{
    margin-right: 27px;
    cursor: pointer;
}

.letter{
    margin-right: 24px;
    cursor: pointer;
}

.compass{
    margin-right: 53px;
    border-right: solid 1px rgba(255, 255, 255, 0.9);
    padding-right: 24px;
    cursor: pointer;
}

.authorization{
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    display: inline-block;
    vertical-align:middle;
    height: 100%;
}

.form-autorization{
    position: relative;
    margin: 0 auto;
    margin-top: 54px;
    padding: 30px 60px;
    border: 1px solid  #FFFFFF;
    box-shadow: 0px 4px 18px 0px #00000085;
    background: #FFFFFF;
    width: max-content;
}

.form-autorization::before{
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background: #3CB878;
    left: 0;
    top: 29px;
}

.buttons-container{
    display: flex;
    justify-content: space-between;
}

.sign-up{
    display: inline;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.log-in{
    display: inline;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
    color: #3CB878;
}

.log-in:hover{
    text-decoration: underline;
    cursor: pointer;
}

.social-autorization{
    padding-top: 15px;
}

button{
    padding: 0;
    margin: 0;
    border: none;
}

.facebook-button_svg{
    width: 100%;
    height: 48px; 
}

.facebook-button_svg:hover path:first-child{
    fill: #022263;
}


.google-button_svg{
    width: 100%;
    height: 48px; 
}

.google-button_svg:hover path:first-child{
    fill: rgba(171, 31, 9, 1);
;
}


.center-text{
    position: relative;
    margin-top: 34px;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
}

.center-text::before, .center-text::after{
    position: absolute;
    content: '';
    top: 50%;
    width: 45%;
    height: 1px;
    background-color: #F2F2F2;
    transform: translateY(-50%);
}

.center-text::before {
    left: 0;
}

.center-text::after {
    right: 0;
}

label {
    display: block;
}

#name{
    margin-top: 5px;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(242, 242, 242, 1);
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="text"]::placeholder{
    padding-left: 20px;
    color: rgba(190, 190, 190, 1);

}

input[type="text"]:focus::placeholder{
    color: rgba(67, 67, 67, 1);

}

input[type="text"]:focus{
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    border: 1px solid rgba(242, 242, 242, 1);
    outline: none;
}

#users-lastName, #users-email, #users-password, #users-confirmPassword{
    margin-top: 16px;
    width: 100%;
    border: 1px solid rgba(242, 242, 242, 1);
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

#chckbox{
    margin-top: 12px;
    width: 15px;
    height: 15px;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox_row{
    margin-top: 12px;
}
.custom-checkbox{
    position: relative;
    display: inline-block;
    width: 15px; 
    height: 15px; 
    border: 1px solid rgba(242, 242, 242, 1);
}

.checkbox_row input[type="checkbox"]:checked + .custom-checkbox::after {
    content: url('/Images/Vector.svg');
    position: absolute;
    left: 0;
    top: 0;
}
    
.checkbox_row{
    cursor: pointer;
}

.checkbox-text{
    font-size: 14px;
    line-height: 14px;
    margin-left: 8px;
}

.checkbox-text2{
    font-size: 14px;
    line-height: 14px;
    color: rgba(60, 184, 120, 1);
}

.checkbox-text2:hover{
    text-decoration: underline;
}

.create-account{
    padding: 16px 100px;
    background: rgba(60, 184, 120, 0.8);
    margin-top: 20px;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    color: rgba(255, 255, 255, 1);
}

button:hover{
    cursor: pointer;
}

*:hover, *:focus {
    transition: 0.3s ease-in;;
}